html,body,#map {
	width: 100%;
	height: 100%;
	margin: 0;
}

#text {
	background-color: #fff;
	height: 100%;
	left: 0;
	padding: 0.5em;
	position: absolute;
	top: 65px;
	width: 300px;
	z-index: 800;
}

#header {
	background: url("http://redd-mas.cr/images/fondo-amarillo.png") repeat-x
		scroll 0 0/5px 40px #fff;
	height: 65px;
	left: 0;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 100%;
	z-index: 800;
}

/* PARA  LOS COLORES DE LAS CATEGORIAS */
#cobertura1
{ background-color: #267300; color: #FFFFFF; height: 10px;}
#cobertura2
{ background-color: #0000FF; color: #FFFFFF; height: 10px;}
#cobertura3
{ background-color: #EE9A00; color: #FFFFFF; height: 10px;}
#cobertura4
{ background-color: #FFFFBE; color: #FFFFFF; height: 10px;}
#cobertura5
{ background-color: #FF0000; color: #FFFFFF; height: 10px;}
#cobertura6
{ background-color: #A020F0; color: #FFFFFF; height: 10px;}
#cobertura7
{ background-color: #8B4726; color: #FFFFFF; height: 10px;}
#cobertura8
{ background-color: #7FFF00; color: #FFFFFF; height: 10px;}
#cobertura9
{ background-color: #FFFFFF; color: #FFFFFF; height: 10px;}
#cobertura10
{ background-color: #000000; color: #FFFFFF; height: 10px;}
#cobertura11
{ background-color: #EE30A7; color: #FFFFFF; height: 10px;}
#cobertura12
{ background-color: #EED2EE; color: #FFFFFF; height: 10px;}
#cobertura13
{ background-color: #00EEEE; color: #FFFFFF; height: 10px;}
#cobertura14
{ background-color: #8B8B00; color: #FFFFFF; height: 10px;}
#cobertura15
{ background-color: #008B8B; color: #FFFFFF; height: 10px;}



/* FOR EDITING GRAPHICAL COMPONENTS THAT GO ON TOP OF THE OPEN LAYERS MAP */

.olControlNavToolbar {
    top: 195px;
    left: 320px;
}

.olControlLayerSwitcher .maximizeDiv,.olControlLayerSwitcher .minimizeDiv
	{
	top: 200px !important;
}

.olControlLayerSwitcher {
	top: 200px !important
}

.olControlEditingToolbar {
    right: 0;
    top: 70px;
}

.olControlZoomPanel {
    top: 80px;
    left: 320px;
    z-index: 200;
}

.olControlScaleLine {
  bottom: 10px;
  left: 320px;
}


#simplemodal-container a.modalCloseImg {
	background: url(../images/x.png) no-repeat; /* adjust url as required */
	width: 25px;
	height: 29px;
	display: inline;
	position: absolute;
	top: -14px;
	right: -18px;
	cursor: pointer;
	z-index: 9999 !important;
}

#statistics {
	display: none;
}

#simplemodal-container {
	height: 500px;
	width: 900px;
	color: #000000;
	background-color: #ffffff;
	border: 4px solid #444;
	padding: 12px;
	z-index: 9999 !important;
}


/* TOOLTIPS */
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

